@page "/"

<PageTitle>Index</PageTitle>

<h1>Welcome</h1>

Welcome to our clinic management system! This application is designed to streamline the management of patient records and appointments for medical professionals. Whether you're a doctor, nurse, or administrative staff, our platform provides intuitive tools for efficiently handling patient information.
<br />
<br />
<h3>Key Features:</h3>
<br />
- Patient Management: Easily add, view, edit, and delete patient records. Keep track of important medical history, appointments, and contact details.
<br />
- Appointment Scheduling: Schedule appointments with ease, manage availability, and send reminders to patients to reduce no-shows.
<br />
- Medical Records: Maintain detailed medical records securely. Access patient history, diagnoses, treatments, and prescriptions all in one place.
<br />
- User-Friendly Interface: Our user-friendly interface makes navigating the system effortless, allowing you to focus on providing excellent patient care.
<br />
<br />
<h3>Get Started:</h3>
<br />
Ready to experience the efficiency and organization our clinic management system offers? Sign in to get started, or register if you're new to our platform. 
<br />
Thank you for choosing our clinic management system. We're here to simplify your administrative tasks and enhance patient care.
<br />
<br />
<SurveyPrompt Title="Have questions or need assistance? Reach out to our support team for prompt assistance." />
